* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navigation CSS */
.album_image {
  width: 40px;
  height: 40px;
}
.nav_bar {
  width: 100%;
  height: 70px;
  background-color: rgb(137, 201, 238);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
}
.nav_first_heading {
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
}

.nav_second_heading button {
  border: none;
  outline: none;
  color: white;
  font-size: 26px;
  font-weight: 500;
  background: transparent;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.nav_second_heading button:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

/* Card css */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgb(206, 170, 242);
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 4px;
  position: relative;
}
.card .id_heading {
  display: flex;
  gap: 130px;
}
.id_heading p {
  font-size: 15px;
  font-weight: 400;
}

.btns {
  display: flex;
  gap: 30px;
}
.edit_btn {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(14, 166, 14, 0.782);
  color: white;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.edit_btn:hover {
  transform: scale(1.2);
  transition: 0.1s ease-in-out;
}

.delete_btn {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(245, 50, 50);
  color: white;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.delete_btn:hover {
  transform: scale(1.2);
  transition: 0.1s ease-in-out;
}

/* add album page css */
.addalbumpage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
}
.addAlbumLayout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  padding: 4px;
  font-size: 15px;
}
